
.navegator-footer-menu{
    list-style: none;
}
.footer-title{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #b8b8b9;
    line-height: 1.43px;
    width: 100%;
    margin-top: 30px;
}
.footer{
    width: 100%;
    text-align: center;
    border-top: 1px solid #b8b8b9;  
}
.navegator-footer-menu{
    padding: 0px;
}
.limenufooter{
    text-decoration: none;
    color: #54585a;
    font-size: 14px;
    line-height: 1.43px;
    font-family:'Open Sans', sans-serif;
    text-transform: uppercase;
}
.container-logo{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 35px; 
}
.logo{
    width: 115px;
    height: 45px
}
.bloque-image{
    width: 100%;
    height: 100%; 
}
/*-----------*/

@media all and (min-width:768px){
    .header-title{
        padding:0;
        height:46px;
    }
    .header-titlenav{
        display: flex;
        flex-direction: row;
        width: 100vw;
        /*no sabamos cambiar el alto*/
        
    }
    .header__title-link{
        flex-grow:1;
        
    }
    .header-nav{
        flex-grow:1;        
        height:46px;
        
    }
    .header-menu{
        background:#099d8d;
        padding:0;
        height:46px;
        justify-content: center;
    }
    .menu-element{
        margin:0 16px;
    }
    .aside-container{
        display:flex;
        flex-direction:row;
    }
    .aside {
        width: 50%;
        padding: 0 16px;
    }
}