body{
    margin:0px;
    padding:0px;
}
    /*cambiar las alturas por paddings*/
.header-container {
    font-family:'Rubik', sans-serif;
    font-weight: 900;
    color:#FFFFFF;
    padding:0px;
}

.header-titlenav{
    width:100%;
    position:fixed;
    z-index:1;
    background-color: #099d8d;  
}

.header__title-link {
    text-decoration: none;
    color:inherit;
}

.header-title {
    opacity:0.9;
    font-size:16px;
    margin:0px;
    padding:15px; /*poner como porcentaje*/
    text-align:center;
    text-transform: uppercase;
    display:flex;
    justify-content:center;
    align-items:center;  
}
.header-nav {
    background-color: rgba(20, 217, 196, 0.9);
    margin:0 -15px;
    padding:8px 15px;
}
.header-menu{
    font-size:15px;
    list-style:none;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-content:center;
    margin:0px;
    padding:0px;
}

.header-link{
    text-decoration:none;
    color:inherit;
    text-transform: uppercase;
    }
    
@media all and (min-width:768px){
    .header-title{
        padding:0;
        height:46px;
    }
    .header-titlenav .page__wrapper {
        display: flex;
        justify-content: space-between;
        align-items:center;
        width: 100vw;
    
        /*no sabamos cambiar el alto*/
        
    }
    .header-nav{      
        height:46px;
        background:none;
    }
    .header-menu{
        padding:0;
        height:46px;
    }
    .menu-element{
        margin:0 16px;
    }
}