body{
    margin:0px;
    padding:0px;
}
.page__wrapper{
    max-width: 1024px;
    padding:0 15px;
    margin:auto;
    box-sizing:border-box;
 }
 @media all and (min-width:768px) {
     .page__wrapper {
         padding:0 45px;
     }
 }

 @media all and (min-width:1200px) {
    .page__wrapper{
        max-width: 922px;
        margin: 0 139px;
     }
 }