<section class="page__wrapper">
  <div class="contact">
    <h3 class="contact_title">Contacto</h3>
    <div class="contact_introduction">
    <p>Si sientes curiosidad por nuestro trabajo, no dudes en ponerte en contacto con nosotras. Recibirás una respuesta lo antes posible. Anímate.</p>
    <small>Todos los campos marcados con <span class="asterisco">*</span> son obligatorios.</small>
  </div>
  </div>
<form action="" method="post" class="formulario">
    <div class="styleform">
      <label for="name">Nombre completo <span class="asterisco">*</span></label>
      <input placeholder="Nombre..." type="text" id="name" name="name" required/>
    </div>
    <div>
      <div class="styleform">
        <label for="email">Email <span class="asterisco">*</span></label>
        <input value="nombre.apellidos@mail.com" type="email" id="email" name="email" required/>
      </div>
      <div class="styleform">
        <label for="telephone">Teléfono</label>
        <input placeholder="Ej. 123456789" type="telephone" id="telephone" name="telephone"/>
      </div>
    </div>

    <div class="styleform">
      <label for="message">Mensaje <span class="asterisco">*</span></label>
      <textarea placeholder="¿Qué necesitas?" id="message" name="message" rows="8" cols="80"></textarea>
    </div>

    <input type="submit" value="ENVIAR" />
  </form>
</section>
