<section class="page__wrapper">
  <div>
    <h3 class="contact_title">Contacto</h3>
    <p>Si sientes curiosidad por nuestro trabajo, no dudes en ponerte en contacto con nosotras. Recibirás una respuesta lo antes posible. Anímate.</p>
    <small>Todos los campos marcados con * son obligatorios.</small>
  </div>
<form action="" method="post" class="formulario">
    <div>
      <label for="name">Nombre completo *</label>
      <input placeholder="Nombre..." type="text" id="name" name="name" required/>
    </div>
    <div>
      <div>
        <label for="email">Email *</label>
        <input placeholder="nombre.apellidos@mail.com" type="email" id="email" name="email" required/>
      </div>
      <div>
        <label for="telephone">Teléfono</label>
        <input placeholder="Ej. 123456789" type="telephone" id="telephone" name="telephone"/>
      </div>
    </div>
    <div>
      <label for="message">Mensaje *</label>
      <textarea placeholder="¿Qué necesitas?" id="message" name="message" rows="8" cols="80"></textarea>
    </div>
    <input type="submit" value="ENVIAR" />
  </form>
</section>
