<header class="header-container">
    <div class="header-titlenav">
        <div class="page__wrapper">
            <h1 class="header-title">
                <a class="header__title-link" href="#">Div Queens</a>
            </h1>
            <nav class="header-nav">
                <ul class="header-menu">
                    <li class="menu-element">
                        <a class="header-link" href="#team">Equipo</a>
                    </li>
                    <li class="menu-element">
                        <a class="header-link" href="#who__link">Quiénes somos</a>
                    </li>
                    <li class="menu-element">
                        <a class="header-link" href="#contact">Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
    <partial src="_hero.html" label="Hero"></partial>
</header>