<section>
    <div class="page__wrapper section1-container">
        <div class="section1-cousin">
            <h3 class="section1-title"><span id="team" class="anchor-nav"></span>EQUIPO</h3>
            <div class="section1-paragraph section1-paragraph-team">
                <p>
                    Somos un equipo multidisciplinar de cinco mujeres programadoras front-end en formación.
                    Contamos con grandes habilidades de análisis, planificación, organización, autonomía y
                    capacidad de aprendizaje. Desarrollamos proyectos en grupo utilizando pair-programming y
                    siguiendo los principios de la filosofía Agile.
                </p>
                <p>
                    Estamos dispuestas a luchar por nuestros sueños y alcanzarlos sin importar los obstáculos
                    del camino. Abordamos todos los proyectos en los que nos embarcamos con compromiso,
                    motivación e ilusión. Contar con nosotras en tu equipo es una apuesta segura.
                </p>
            </div>
        </div>

    </div>
</section>

<aside class="strengths-weaknesses">
    <div class="page__wrapper aside-container">
        <div class="aside aside-f">
            <h4 class="aside-title">Fortalezas</h4>
            <p class="section1-paragraph">La diversidad profesional de nuestras trayectorias hace que abordemos
                cada situación desde perspectivas complementarias que se suman en la misma dirección. Si a esto
                le sumamos perseverancia, mucha curiosidad y ganas de trabajar, tenemos una combinación
                perfecta.</p>
        </div>
        <div class="aside aside-d">
            <h4 class="aside-title">Debilidades</h4>
            <p class="section1-paragraph">Si bien es cierto que estamos en proceso de formación y llevamos poco
                tiempo trabajando juntas, Adalab nos ha dotado de muchas herramientas para desarrollar nuestra
                autonomía al máximo y poder sacar adelante todo tipo de proyectos.
            </p>
        </div>
    </div>
    <div class="arrow-down"></div>
</aside>