<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>EQUIPO 2 WEBSITE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ff7fcb0371.js"></script>
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
    <header class="header-container">
      <partial src="_header.html" label="Header"></partial>
      <partial src="_hero.html" label="Hero"></partial>
    </header>

    <partial src="_main.html" label="Main"></partial>
    <partial src="_footer.html" label="Footer"></partial>
</body>
