<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <title>EQUIPO 2 WEBSITE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ff7fcb0371.js"></script>
    <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
    <partial src="_header.html" label="Header"></partial>
    <partial src="_main.html" label="Main"></partial>
</body>

<footer class="footer">
    <div class="page__wrapper">
        <div class="footer-desk">
            <div class="footer-title">
                <p>Div Queens &copy;2019</p>
            </div>

            <nav class="navegator-footer">
                <ul class="navegator-footer-menu">
                    <li><a class="limenufooter" href="#team">Equipo</a></li>
                    <li><a class="limenufooter" href="#who__link">Quiénes somos</a></li>
                    <li><a class="limenufooter" href="#contact">Contacto</a></li>
                </ul>
            </nav>
            <div class="container-logo">
                <a class="bloque-image" href=""><img class="logo" src="assets/images/logo-adalab.png" alt="logo-adalab">
                </a>
            </div>
        </div>
    </div>
</footer>