.navegator-footer-menu{
    list-style: none;
    padding: 0px;
    font-weight:600;
    @media all and (min-width:768px){
        text-align:right;
        transform: translate(0px,-24px);
        margin:0;
        height:100px;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
    }
}
.footer-title{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color:$color-midtone;
    width: 100%;
    margin-top:30px;
    margin-bottom:20px;
    p {
        @media all and (min-width:1200px) {
            margin:0;
        }
    }
    @media all and (min-width:768px){
        text-align:left;
        margin:0;
        height: 20px;
    }
}
.footer{
    border-top: 1px solid $color-midtone;
    text-align: center;
    @media all and (min-width:768px){
        text-align: justify;
    }
}
.limenufooter{
    text-decoration: none;
    color:$color-dark-midtone;
    font-size: 14px;
    line-height: 1.43px;
    font-family:'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight:600px;
    @media all and (min-width:768px){
        padding-bottom:58px;
    }
}
.container-logo{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 30px;
    @media all and (min-width:768px){
        text-align: left;
        padding-bottom: 60px;
        order:2;
        width: 115px;
        height: 45px;
        transform: translate(0px,-70px);
    }
}
.logo{
    width: 115px;
    height: 45px
}
.bloque-image{
    width: 100%;
    height: 100%;
}
@media all and (min-width:768px){
.footer-desk{
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     padding: 30px 0;
     height: 110px;
 }
 .navegator-footer{
     align-self: flex-end;
     height: 90px;
     width: 394px;
 }
}
@media all and (min-width:1200px){
    .footer-desk{
        padding: 24px 0px 47px 0px;
        height: 90px;
    }
}
