.contact{
  margin-bottom:58px;
}
.contact_title{
    position:relative;
    font-family:'Rubik', sans-serif;
    font-size:24px;
    font-weight: 900;
    color:$c-title;
    text-align:center;
    margin-top:30px;
    margin-bottom:15px;
    text-transform:uppercase;
    @media all and (min-width:768px) {
        position:relative;
    }
    @media all and (min-width:1200px) {
        margin-top:44px;
    }
}

.contact_introduction{
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  margin:0;
  color:$c-color;
  text-align:center;
  p{margin-bottom:30px;}
}
.asterisco{
  color:$c-title;
}

.styleform{
  display:flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;

  input, textarea{
    padding: 15px;
    font-size: 14px;
    margin-top: 10px;
  }
}
.email{
  font-size:24px;
  color:$c-color;
  @media all and (min-width:1200px) {
    width:395px;
    box-sizing:border-box;
  }
}
.telephone{
  @media all and (min-width:1200px) {
    width:150px;
    box-sizing:border-box;
  }
}
.message {
  font-family: 'Open Sans', sans-serif;
}
.button_container {
  @media all and (min-width:768px) {
    display: flex;
    justify-content: flex-end;
  }
}
.button {
  appearance: none;
  background: $c-title;
  color: $c-title-nav;
  font-family: 'Open Sans', sans-serif;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  margin-top:30px;
  margin-bottom: 60px;
  padding: 12px 0;
  transition:box-shadow ease 0.25s;
    &:hover {
      box-shadow:0 0 7px 0px $c-color;
      cursor:pointer;
    }
  @media all and (min-width:768px) {
    width: 45%;
  }
  @media all and (min-width:1200px){
    margin-bottom:120px;
  }
}
.body-contact .lema {
  display:none;
}
.emailphone{
  @media all and (min-width:1200px){
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
  }

}
