.header-container {
    font-family:'Rubik', sans-serif;
    font-weight: 900;
    color:$color-light;
    padding:0px;
}
.header-titlenav{
    width:100%;
    position:fixed;
    z-index:1;
    background-color: rgba($color-primary, 0.9);
}
.header__title-link {
    text-decoration: none;
    color:inherit;
}
.header-title {
    font-size:16px;
    margin:0px;
    padding:15px;
    text-align:center;
    text-transform: uppercase;
    display:flex;
    justify-content:center;
    align-items:center;
    @media all and (min-width:768px){
        padding:0;
        height:46px;
        }
}
.header-nav {
    background-color: rgba($color-secundary, 0.6);
    margin:0 -15px;
    padding:8px 15px;
    @media all and (min-width:768px){
        height:46px;
        background:none;
    }
}
.header-menu{
    font-size:15px;
    list-style:none;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-content:center;
    margin:0px;
    padding:0px;
    @media all and (min-width:768px){
        padding:0;
        height:46px;
    }
}
.header-link{
    text-decoration:none;
    color:inherit;
    text-transform: uppercase;
    padding: 6px 0;
    display: inline-block;
}
@media all and (min-width:768px){
    .header-titlenav .page__wrapper {
        display: flex;
        justify-content: space-between;
        align-items:center;
        width: 100vw;
    }
    .menu-element{
        margin:0 16px;
    }
}
