.hero-image {
    background-image: url("../images/hero-image.jpg");
    height: 421px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.body-contact .hero-image{
  background-image: url('../images/hero-contact-image.jpg');
  height: 421px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
.hero-image .page__wrapper {
    display:flex;
    justify-content:center;
    align-items:flex-end;
    position: relative;
    height:100%;
  }
.lema{
    margin:0;
    background-color:$color-light;
    font-size:18px;
    color:$color-dark;
    text-align:center;
    padding:14px 15px 16px;
    transform:translateY(50%);
    font-size:18px;
    @media all and (min-width:768px) {
      background-color:rgba($color-light, 0.8);
      width:60%;
      transform:translateY(0);
      text-align:left;
    }
    @media all and (min-width:1200px) {
      font-size:24px;
    }
  }
@media all and (min-width:768px) {
  .hero-image .page__wrapper {
    justify-content:flex-start;
  }
}
