.section1-container{
    padding-top:76px;
    padding-bottom:30px;
    @media all and (min-width:768px) {
        padding-top:30px;
    }
    @media all and (min-width:1200px) {
        margin: 0 auto;
    }
}
.section1-cousin{
    padding-bottom: 0px;
    margin-bottom: 0px;
    @media all and (min-width:1200px) {
        margin-bottom: 52px;
    }
}
.section1-title{
    position:relative;
    font-family:'Rubik', sans-serif;
    font-size:24px;
    font-weight: 900;
    color:$color-primary;
    text-align:center;
    margin-top:0;
    @media all and (min-width:768px) {
        position:relative;
    }
    @media all and (min-width:1200px) {
        margin-top:45px;
    }
}
.anchor-nav{
    position:absolute;
    top:-100px;
    @media all and (min-width:768px) {
        position:absolute;
        top:-90px;
    }
}
.section1-paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    margin:0;
    color:$color-dark-midtone;
    text-align:center;
    @media all and (min-width:768px) {}
}
.arrow-down {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid $color-light;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    top: 0;
}
.strengths-weaknesses {
    position:relative;
    background:$color-light-midtone;
}
.aside-container{
    padding-top:30px;
    padding-bottom: 15px;
    @media all and (min-width:768px) {
        display:flex;
        flex-direction:row;
        padding-bottom: 30px;
        padding-top: 45px;
    }
}
.aside {
    padding-bottom:30px;
    @media all and (min-width:768px) {
        width: 50%;
    }
}
.aside-title{
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    font-weight: 900;
    margin-top:8px;
    margin-bottom: 8px;
    color: $color-primary;
    text-align: center;
    @media all and (min-width:1200px) {
        margin-top:45px;
    }
}
@media all and (min-width:768px) {
    .aside-f {
        padding-right: 15px;
    }
    .aside-d {
        padding-left: 15px;
    }
}
@media all and (min-width:1200px) {
    .section1-paragraph-team{
        margin:8px 94px;
    }
    .aside-f {
        padding-right: 23px;
        padding-bottom:60px;
    }
    .aside-d {
        padding-left: 23px;
        padding-bottom:60px;
    }
   .aside .page__wrapper{
       margin:0 auto;
   }
}
